 <h1>Sign in</h1>
  <%= form_for(:session, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, required: true, placeholder: "(case-sensitive)" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign in' %>
  </div>
  <% end %>
