<% @comments.each do |comment| %>
<article class="comment">
  <p><%= comment.content %></p>
  <footer class="actions">
      <span><%= print_post_time(comment) %></span>
      <span> by <%= comment.user.username %></span>
  </footer>
</article>
<% end %>
