<%= form_for @comment = Comment.new, html: { class: "comment_form" } do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :size=>"40x8"%>
  </div>
  <%= hidden_field_tag "post_id", @post.id %>
  <div class="actions">
    <%= f.submit "Comment" %>
  </div>
<% end %>
