<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username, required: true, placeholder: "(case-sensitive)" %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, required: true, placeholder: "Min password length: 6" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, required: true, placeholder: "Min password length: 6" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
