<h1>My Profile</h1>

<% @posts.each do |post| %>
    <article class="post">
        <header>
            <%= rating_display(post).html_safe %>
            <h3><%= post.title %></h3>
        </header>
        <p><%= raw post.content %></p>
        <footer>
            <% if post.comment_count > 0 %>
            <div class="left_comment">(<%= link_to "#{post.comment_count}", post_path(post) + "#comments" %>)</div>
            <% end %>
            <div class="actions">
                <span><%= print_post_time(post) %></span>
                <span> by <%= link_to(post.user.username, post.user) %></span>
            </div>
            <div class="actions">
                <span><small><%= link_to 'Read more...', post %></small></span>
            </div>
        </footer>
    </article>
<% end %>
