
<% if current_user%>
<%= form_for rating_ballot, remote: true, authenticity_token: true, id: 'rating_form', html: { class: "rating_ballot" } do |f| %>
    <br/>
    <span>Rate this Post: </span>

    <%= radio_button_tag("rating[value]", 1, current_user_rating == 1, class: 'vote') %>
    <div id="up">
        <%= f.label " ", { for: 'rating_value_1', class: 'arrow up' } %>
    </div>
	
    <%= radio_button_tag "rating[value]", -1, current_user_rating == -1, class: 'vote' %>
    <div id="down">
        <%= f.label " ", { for: 'rating_value_-1', class: 'arrow down' } %>
    </div>
    
    <br/>
    <%= hidden_field_tag "post_id", @post.id %>
    <br/>
    <%= f.submit :rate, class: 'rate_button'  %>
<% end %>


<script type="text/javascript" >
<![CDATA[
    var form = document.querySelector(".rating_ballot");
    var tags = form.getElementsByTagName("input");
	

    updateRating = function(y, like, arrow) {
      var url, xmlhttp;
	  var length = tags.length;
	  console.log(tags);
      var params =  encodeURIComponent(tags[0].name) + "=" + encodeURIComponent(tags[0].value) + "&" +
                    encodeURIComponent(tags[1].name) + "=" + encodeURIComponent(tags[1].value) + "&" +
                    encodeURIComponent(tags[length-2].name) + "=" + encodeURIComponent(tags[length-2].value);

      if (length == 7){
		params += "&"+encodeURIComponent(tags[y].name) + "=" + encodeURIComponent(tags[y].value);	 	
		params += "&"+encodeURIComponent(tags[2].name) + "=" + encodeURIComponent(tags[2].value);
		}

	  else params += "&"+encodeURIComponent(tags[y-1].name) + "=" + encodeURIComponent(tags[y-1].value);
	 	
      url = document.getElementsByClassName("rating_ballot");
      xmlhttp = null;
      if (window.XMLHttpRequest) {
        xmlhttp = new XMLHttpRequest();
      } else {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }

	  xmlhttp.open("POST", url[0].action +".json", true);
	  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == 4) {
		  if(xmlhttp.status == 200){

			try
			{

				arrow.click();
				console.log(xmlhttp.responseText);
				var json = JSON.parse(xmlhttp.responseText);
				var rate = document.querySelector('#rating-value');
				rate.textContent = json['value'];
				var newrate = json['value'];

				
				console.log(json);

			    if( newrate > 0 ){
					rate.setAttribute("class","rating-circle-green right");

				}
			    else if( newrate < 0 ){
					rate.setAttribute('class','rating-circle-red right');

				} 
			    else{
				  rate.setAttribute('class','rating-circle-neutral right'); 

				}				


				section = document.getElementById("middle");
				section.insertAdjacentHTML('afterbegin','<header id="notice" class="flash"><div class="flashnotice">Your rating has been updated</div></header>');

				fadein(document.getElementById("notice"));
			
	
			    setTimeout(function(){
				var flash = document.getElementsByClassName("flash");
					
				for(x=0; x<flash.length; x++ ){
					fadeout(flash[x]);
				}

			    },3000);
			}
			catch(e)
			{
				console.log(e);
				section = document.getElementById("middle");
				section.insertAdjacentHTML('afterbegin','<header id="notice" class="flash"><div class="flashalert">You cannot rate  your own post</div></header>');
				fadein(document.getElementById("notice"));

				setTimeout(function(){
					var flash = document.getElementsByClassName("flash");
					
					for(x=0; x<flash.length; x++ ){
						fadeout(flash[x]);
					}
				    
			    },3000);
			}	
		}
	}
};
	  
      return xmlhttp.send(params);
    };

    var x =0;
    for(x=0; x< tags.length; x++){
        console.log(tags[x].name);
    }
    document.querySelector(".arrow.up").onclick=function () {
        var radio_up = document.getElementById('rating_value_1');
        if(radio_up.checked){}
        else {
          //  radio_up.click();
          updateRating(3, 'up', radio_up);
          //	document.forms[0].submit();

        }
    };

    document.querySelector(".arrow.down").onclick=function () {
        var radio_down = document.getElementById('rating_value_-1');
        if(radio_down.checked){}
        else {
            //radio_down.click();
            updateRating(4, 'down', radio_down);
            //document.forms[0].submit();
        }


};
]]>

</script>

<% end %> 
