<h1>Homepage</h1>
<p>Welcome to Bloglr, a social application where you can share your anything you want!</p>

<p>As part of our F21NA coursework, we decided to create a social visual
application similar to Twitter, Tumblr, and Reddit.</p>
<p>We have the following implemented:</p>
<ul>
    <li>Signup and login system</li>
    <li>Posting mechanism, including display of posts</li>
<li>Able to comment on posts</li>
    <li>Dynamic refreshing of the posts page (new posts get added via JavaScript using AJAX techniques)</li>
    <li>Initial parsing of hash tags (#tag) and link generation</li>
    <li>Rating mechanism for posts</li>

</ul>
<h3>Who are we?</h3>
<ul>
    <li>Sunil Khutan</li>
    <li>Farhana Akhter</li>
    <li>Matthew Robertson</li>
    <li>Hans Viessmann</li>
</ul>

<p> To Sign up or Sign in please use the links on the navigation bar.</p>
