<table id="tags_table">
    <!-- This should not be visible by the user -->
    <!-- if it is, then JavaScript is broken --> 
    <thead>
        <tr>
            <th>Tag</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
<% @tags.each do |tag| %>
        <tr>
            <td><a href="/tag/<%= tag.name %>"><%= tag.name %></a></td>
            <td><%= tag.count %></td>
        </tr>
<% end %>
    </tbody>
</table>
<canvas id="tags_pie" width="600" height="400"></canvas>
<table id="tags_data_table">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Count</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody id="tags_body">
    </tbody>
</table>
