<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title, required: true, placeholder: "Enter the title of your post", :maxlength=>"50" %>
  </div>
  <div class="field">
    <%= f.label :content %><br/>
    <%= f.text_area :content, required: true, placeholder: "Enter the content of your post", :size=>"100x10"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
