<article class="post">
  <header>
    <%= rating_display(@post).html_safe %>
    <h1><%= @post.title %> </h1>
  </header>
  <p><%= raw @post.content %></p>
  <footer class="actions">
    <span><%= print_post_time(@post) %></span>
    <span> by <%= link_to(@post.user.username, @post.user) %></span>
  </footer>
</article>
<% if correct_user(@post) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

<div class="ratings_holder">
  <%= render 'ratings/form' %>
</div>
<br/>
<div class="comment_create">
	<%= render 'comments/create' %>
</div>

<% @comments = @post.comments.order(created_at: :desc) %>
<% unless @comments.empty? %>
<br/>
<h3>Comments</h3>
  <section id="comments" class="comment_holder">
    <%= render 'comments/comment' %>
  </section>
<% end %>
