/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require scaffolds
 */

main{
  background-image:url('/assets/colourwood.jpg');
  background-repeat: repeat-y;
  background-size: cover;
}

#notice { 
    margin-top: 25px;
	opacity: 0;
    font-size: 21px;
    text-align: center;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;

}

.flashalert {

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background-color: #4ea5cd;
     border-color: #3b8eb5;
     color: white;

}

.flashnotice {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #61b832;
    border-color: #55a12c;
    color: white;
}

.flasherror {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background-color: #de4343;
    border-color: #c43d3d;
    color: white;
}

mark {
    font-weight: lighter;
    background-color: transparent;
}
