/* Place all the styles related to the Posts controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
 *= require application
 */

.post {
	border: 2px solid white;
    background-color: #FFF;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    margin: 10px;
    padding: 0 10px;
}

.post:first-child {
    border-radius: 15px 15px 15px 0px;
}

.post .hover {
    border: 2px solid #adadcc;
}

.post header {
	margin-bottom: 1px;
    border-bottom: 1px solid #C4C4C4;
}

.post .actions {
    text-align: right;
}

.post .left_comment {
    text-align: left;
}

input.body {
    width: 95%;
}

.down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #C0392B;
}

.up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #00B16A;
}

#down {
  position:relative;
  left: 40px;
  top: 20px;
}

input[type="radio"].vote, input[type="submit"].rate_button{
  display:none;
}

input[type="radio"]:checked+div > label{
 opacity: 0.2;
}

.rating-circle-green {
  width:auto;
  height:auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color:#fff;
  text-align:center;
  background:#61b832;
}

.rating-circle-red {
  width:auto;
  height:auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color:#fff;
  text-align:center;
  background:#de4343;
}

.rating-circle-neutral {
  width:auto;
  height:auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color:#fff;
  text-align:center;
  background: #1E90FF;
}

.comment_holder {
  background: grey; padding: 1em;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.comment {
    border: 2px solid white;
    background-color: #FFF;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 5px;
    padding: 0 10px;
}
