/*
 *= require application
 */

.arrow.up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #00B16A;
}

.arrow.down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #C0392B;
}

#down {
  position:relative;
  left: 40px;
  top: 20px;
}

input[type="radio"].vote, input[type="submit"].rate_button{
  display:none;
}

input[type="radio"]:checked+div > label{
 opacity: 0.2;
}

.rating-circle-green {
  width:auto;
  height:auto;
  border-radius:50%;
  color:#fff;
  text-align:center;
  background:#61b832;
}

.rating-circle-red {
  width:auto;
  height:auto;
  border-radius:50%;
  color:#fff;
  text-align:center;
  background:#de4343;
}

.rating-circle-neutral {
  width:auto;
  height:auto;
  border-radius:50%;
  color:#fff;
  text-align:center;
  background: #1E90FF;
}
