html, body {
    background-color: #D9D9FF;
    color: #333;
    font-family: helvetica, arial, sans-serif;
    height: 100%;
}

main {
    min-height: 100%;
    margin-bottom: -100px;
    &:after {
        content: "";
        display: block;
        height: 100px;
    }
}

#top {
    a {
        padding: 12px 10px 13px 10px;
        margin-left: 10px;
        color: #FFF;
        &:visited {
            color: #FFF;
        }
        &:hover {
            color: #FFF;
            background-color: #53537F;
        }
    }
    background-color: #7171CB;
    width: 100%;
    font-size: 1.4em;
    line-height: 50px;
    border-bottom: 5px solid #53537F;
}

#middle {
    background-color: #D2D0FF;
    margin: 40px auto 20px auto;
    padding: 10px 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 960px;
    a {
        color: #666;
        &:visited {
            color: #666;
        }
        &:hover {
            color: #000;
            font-weight: bold;
        }
    }
}

#bottom {
    height: 100px;
    background: #53537F;
    section {
        width: 960px;
        margin: 0 auto;
        padding: 10px 0;
        img {
            height: 55px;
        }
    }
}

.right {
    float: right;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    &:hover {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
    }
}

pre {
    background-color: #eee;
    //padding: 10px;
    font-size: 0.8em;
}

h3 {
    padding: 0 0 0 3px;
    margin: 10px 0 10px 0;
}

div {
    &.field, &.actions {
        margin-bottom: 10px;
    }
}

/* Rails Flashes */

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}
